@media (min-width: 960px) {
    .container {
        min-width: 970px;
    }

    .header-info {
        display: flex;

        align-items: center;
        justify-content: center;
    }

    .header-info__wrapper-photo {
        margin: 0 40px;
    }

    .header-info__wrapper-info {
        width: 324px;
        margin: 0;
    }

    .main-info {
        min-height: 300px;
        padding-top: 7%;

        background-position-x: 10%;
        background-position-y: 50%;
        background-size: 40%;
    }

    .main-info-wrapper {
        float: right;
        width: 50%;

        text-align: left;
    }

    .page-main__button:hover,
    .page-main__button:focus {
        background-color: #7f7f7fff;
    }

    .page-main__button:active {
        background-color: #191919ff;
    }

    .advantages {
        padding-top: 7%;

        background-color: #110f0d;
        background-image: url(../img/59fdde28f2a31.jpg);
        background-repeat: no-repeat;
        background-position-x: 10%;
        background-position-y: 6%;
        background-size: 40%;
    }

    .advantages-title-wrapper {
        float: right;
        width: 50%;

        text-align: left;
    }

    .advantages-list {
        width: 100%;
        padding-top: 3%;
        margin-right: -30px;
    }

    .advantages-list__item {
        min-width: 400px;
        padding-top: 37px;
        padding-right: 71px;
    }

    .desires {
        min-height: 330px;
        padding: 0;
        margin: 0;

        background-color: #262835;
        background-image: url(../img/20413001.jpg);
        background-repeat: no-repeat;
        background-position-x: 10%;
        background-position-y: 6%;
        background-size: 40%;
    }

    .desires-content-wrapper {
        display: block;
        float: right;
        width: 50%;
        padding: 13% 20px;
        margin: 0;

        text-align: left;
    }

    .social-menu {
        display: block;
        min-height: 330px;
        padding: 0;
        margin: 0;

        background-color: #000;
        background-image: url(../img/spacehowl.49147.jpg);
        background-repeat: no-repeat;
        background-position-x: 10%;
        background-position-y: 6%;
        background-size: 40%;
    }

    .social-menu__title {
        padding: 0;
        margin: 0;
    }

    .social-menu-wrapper {
        display: block;
        float: right;
        width: 51%;
        padding: 12% 0 0 0;
        margin: 0;

        text-align: left;
    }

    .social-list-wrapper {
        display: block;
        padding-top: 42%;
    }

    .social-list__title {
        font-size: 15px;
    }

    .social-list__item {
        display: flex;
        width: 50px;
        height: 50px;
        margin: 0 20px 0 0;

        border-radius: 50%;
        background-color: #c4c4c4ff;

        align-items: center;
        justify-content: center;
    }
}
