html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    animation: appear 3s;

    background-color: black;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    color: #e5e5e5;
}

a {
    text-decoration: none;

    color: #7f7fff;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}

.js .hideContent {
    display: none;

    animation: appear 4s;
}

.js .showContent {
    display: block;
}


.main-header {
    padding-top: 13px;
    padding-bottom: 20px;
    margin: 0;

    background-color: #191a1e;
}

.lang-list {
    display: flex;
    padding: 0 30px;
    margin: 0;

    list-style: none;

    justify-content: space-between;
}

.lang-list__item {
    padding-right: 10px;
}

.lang-list__link {
    font-size: 12px;

    text-decoration: none;

    color: gray;
}

.lang-list__link--active {
    color: inherit;
}

.advantages-list__percent {
    font-size: 16px;
    font-weight: 200;
}

.container {
    max-width: 500px;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
}

.header-info {
    padding: 20px 20px;
}

.header-info__wrapper-photo {
    position: relative;

    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;

    text-align: center;

    border-radius: 50%;
}

.header-info__photo {
    width: auto;
    height: 100%;
    margin-left: -76px;
}

.header-info__description {
    padding: 0;
}

.header-info__wrapper-info {
    padding-left: 20px;

    border-left: 2px solid white;
}

.page-main {
    padding: 0;
    margin: 0;
}

.page-main__button {
    padding: 10px 25px;
    margin: 0 auto;

    text-decoration: none;

    color: white;
    border: none;
    background-color: #3d3d3d;
}

.no-js .page-main__button {
    display: none;
}

.page-main__title {
    text-align: left;
}

.page-main__description {
    text-align: left;
}

.main-info {
    padding: 60% 20px 40px 20px;

    text-align: center;

    background-color: black;
    background-image: url(../img/big_1498922514_image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-info__title {
    padding: 0;
    margin: 0;
}

.advantages-title-wrapper {
    margin-bottom: 40px;

    text-align: center;
}


.advantages {
    padding: 60% 20px 40px 20px;

    background-color: #110f0d;
    background-image: url(../img/59fdde28f2a31.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.advantages-list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.progress-bar {
    position: relative;

    display: flex;
    width: 100%;
    height: 35px;
    padding: 0;
    margin: 0 auto;

    background: #888;

    align-items: center;
}

.progress-bar:before {
    position: absolute;
    z-index: 1;

    height: 35px;

    content: "";

    background-color: #007f00;
}

.progress-bar--75:before {
    width: 75%;
}

.progress-bar--62:before {
    width: 62%;

    background-color: #517f00;
}

.progress-bar--45:before {
    width: 45%;

    background-color: #3a4723;
}

.progress-bar--5:before {
    width: 5%;

    background-color: #9f0000;
}

.progress-bar__text {
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.progress-bar__title {
    z-index: 2;

    padding: 0 10px;
    margin: 0;

    font-weight: bold;
}

.hobbies-list {
    padding: 20px 20px;
    margin: 0;

    list-style: none;
}

.hobbies-list__item {
    padding-top: 30px;

    text-align: center;
}

.hobbies-list__description {
    padding: 0;
    margin: 0;

    font-size: 14px;
}

.hobbies-list__img {
    width: 150px;
    height: auto;
}

.desires {
    padding: 82% 20px 40px 20px;
    margin: 0;

    text-align: center;

    background-color: #262835;
    background-image: url(../img/20413001.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.desires__title {
    padding: 0;
    margin: 0;
}


.page-footer {
    padding: 0 0;
}

.page-footer__description {
    padding: 0;
    margin: 0;
}


.social-menu {
    padding: 77% 20px 40px 20px;
    margin: 0;

    text-align: center;

    background-color: #000;
    background-image: url(../img/spacehowl.49147.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 80%;
}

.social-list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: space-around;
}

.social-list__item {
    display: flex;
    min-width: 40px;
    min-height: 40px;
    margin: 30px;

    border-radius: 50%;
    background-color: #696969;

    align-items: center;
    justify-content: center;
}

.social-list__title {
    max-width: 100%;

    font-size: 10px;
    font-weight: bold;

    text-decoration: none;

    color: #000;
}

.copyright {
    text-align: center;

    background-color: #222;
}

.copyright__title {
    padding: 0;
    margin: 0;
}

.hideContent__title {
    text-align: left;
}

.hideContent__title-smal {
    padding: 0;
    margin: 0;

    text-align: left;
}

.hideContent__description {
    text-align: left;
}
