html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    color: white;
}

.main-header {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;

    background-color: #050a0f;
}

.advantages-list__percent {
    font-size: 16px;
    font-weight: 200;
}

.container {
    max-width: 500px;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
}

.header-info {
    padding: 20px 20px;
}

.header-info__wrapper-photo {
    position: relative;

    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;

    text-align: center;

    border-radius: 50%;
}

.header-info__photo {
    width: auto;
    height: 100%;
    margin-left: -76px;
}

.header-info__description {
    padding: 0;
    margin: 0;
}

.header-info__wrapper-info {
    padding-left: 20px;

    border-left: 2px solid white;
}

.page-main {
    padding: 0;
    margin: 0;
}

.page-main__button {
    padding: 10px 25px;

    text-decoration: none;

    color: white;
    background-color: gray;
}

.page-main__title {
    text-align: center;
}

.main-info {
    padding: 40px 20px;

    text-align: center;

    background-color: #0d1116ff;
}

.main-info__title {
    padding: 0;
    margin: 0;
}

.main-info__alert {
    text-decoration: none;

    color: green;
}

.page-footer {
    padding: 20px 20px;

    background-color: #121c25;
}

.page-footer__description {
    padding: 0;
    margin: 0;
}

.advantages {
    padding: 20px 40px;

    background-color: #050a0f;
}

.advantages-list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.progress-bar {
    position: relative;

    display: flex;
    width: 100%;
    height: 35px;
    padding: 0;
    margin: 0 auto;

    background: #888;

    align-items: center;
}

.progress-bar:before {
    position: absolute;
    z-index: 1;

    width: 75%;
    height: 35px;

    content: "";

    background-color: green;
}

.progress-bar__text {
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.progress-bar__title {
    z-index: 2;

    padding: 0 10px;
    margin: 0;

    font-weight: bold;
}
