html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    color: white;
}

.main-header {
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;

    background-color: #102131;
}

.advantages-list__percent {
    font-size: 16px;
    font-weight: 200;
}

.container {
    max-width: 320px;
    padding: 0;
    margin: 0 auto;
}

.header-info {
    padding: 20px 20px;
}

.header-info__wrapper-photo {
    position: relative;

    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;

    text-align: center;

    border-radius: 50%;
}

.header-info__photo {
    width: auto;
    height: 100%;
    margin-left: -76px;
}

.header-info__description {
    padding: 0;
    margin: 0;
}

.header-info__wrapper-info {
    padding-left: 20px;

    border-left: 2px solid white;
}

.page-main {
    padding: 20px 20px;
    margin: 0;

    background-color: #223648;
}

.main-info {
    text-align: center;
}

.main-info__title {
    padding: 0;
    margin: 0;
}

.page-footer {
    padding: 20px 20px;

    background-color: #121c25;
}

.page-footer__description {
    padding: 0;
    margin: 0;
}
