html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    min-width: 1200px;
    padding: 0;
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    color: #283136;
    background-color: #fff;
}

.main-header {
    display: flex;
    margin: 0 auto;
}

.header-info {
    display: flex;
    margin: 0 auto;
}

.header-info__wrapper-info {
    width: 300px;
}

.header-info__wrapper-photo {
    width: 224px;
}

.advantages-list__percent {
    font-size: 16px;
    font-weight: 200;
}

.page-main {
    display: flex;
    width: 600px;
    margin: 0 auto;
}

.page-footer {
    display: flex;
    width: 600px;
    margin: 0 auto;
}
